/* For mobile */
#left_panel {
    float: left;
    width: 100%;
}
#tb_navigator {
    font-size: 100%;
    width: 100%;
}
#sl_timezone {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#ip_month {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#bt_reset {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#tb_month {
    font-size: 100%;
    width:100%;
}
.date_normal {
    border: 0px;
    border-radius: 10px;
}
.solar_normal {
    user-select: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 200%;
}
.date_hover {
    border: 1px dotted rgb(0,128,255);
    border-radius: 10px;
}
.date_selected {
    border: 1px dotted rgb(0,128,255);
    border-radius: 10px;
}
#right_panel {
    float: left;
    width: 100%;
}
body {
    font-size: 160%;
}
/* For tablet and desktop */
@media only screen and (min-width:600px) {
    #left_panel {
        width: 50%;
    }
    #right_panel {
        width: 50%;
    }
    body {
        font-size: 120%;
    }
}