/* For mobile */
#left_panel {
    float: left;
    width: 100%;
}
#tb_navigator {
    font-size: 100%;
    width: 100%;
}
#sl_timezone {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#ip_month {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#bt_reset {
    font-size: 80%;
    cursor: pointer;
    width: 100%;
}
#tb_month {
    font-size: 100%;
    width:100%;
}
.cell_normal {
    border: 1px solid rgb(255,255,255);
    border-radius: 10px;
}
.date_normal {
    user-select: none;
    cursor: pointer;
    width: 96%;
    text-align: center;
    font-size: 140%;
    margin: 2%;
    background: white;
    color: #606060;
}
.date_today {
    user-select: none;
    cursor: pointer;
    width: 96%;
    text-align: center;
    font-size: 140%;
    margin: 2%;
    background: rgb(96,192,255);
    color: white;
    border: 0px;
    border-radius: 10px;
}
.cell_hover {
    border: 1px dashed rgb(0,128,255);
    border-radius: 10px;
}
.cell_selected {
    border: 1px dotted rgb(0,128,255);
    border-radius: 10px;
}
#right_panel {
    float: left;
    width: 100%;
}
body {
    font-size: 160%;
}
/* For tablet and desktop */
@media only screen and (min-width:600px) {
    #left_panel {
        width: 50%;
    }
    #right_panel {
        width: 50%;
    }
    body {
        font-size: 120%;
    }
}